AIStudio/n8n_workflows/ExportWorkflow.json
{
  "name": "ExportWorkflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('生成导出响应').item.json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        256,
        224
      ],
      "id": "043ccb16-0c66-4cb5-9efa-059291acf7b1",
      "name": "返回导出响应"
    },
    {
      "parameters": {
        "jsCode": "// 生成导出成功响应\nconst contentType = $json.contentType;\nconst jobId = $json.jobId;\nconst timestamp = $json.timestamp;\nconst exportDir = `/home/n8n/AIStudio/jobs/${jobId}/exports`;\n\nif (contentType === 'article') {\n  return {\n    success: true,\n    message: '文章导出成功',\n    contentType: 'article',\n    exportedAt: timestamp,\n    exportDir: exportDir,\n    exportedFiles: [\n      `${exportDir}/article.html`,\n      `${exportDir}/article.md`,\n      `${exportDir}/article.txt`,\n      `${exportDir}/article.json`\n    ],\n    downloadUrls: [\n      `/api/download-file/${jobId}/article.html`,\n      `/api/download-file/${jobId}/article.md`,\n      `/api/download-file/${jobId}/article.txt`,\n      `/api/download-file/${jobId}/article.json`\n    ],\n    jobId: jobId\n  };\n} else {\n  return {\n    success: true,\n    message: '讲稿导出成功',\n    contentType: 'video_notes',\n    exportedAt: timestamp,\n    exportDir: exportDir,\n    exportedFiles: [\n      `${exportDir}/notes.txt`,\n      `${exportDir}/notes.json`\n    ],\n    downloadUrls: [\n      `/api/download-file/${jobId}/notes.txt`,\n      `/api/download-file/${jobId}/notes.json`\n    ],\n    jobId: jobId\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        224
      ],
      "id": "aa133e33-9896-42f3-aa1f-bf7d9892aec8",
      "name": "生成导出响应"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成讲稿格式').item.json.exportDir }}/notes.json",
        "dataPropertyName": "jsonFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        544
      ],
      "id": "ac95912b-93f0-4d3d-87bc-71f7545ce3d0",
      "name": "保存讲稿JSON"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成讲稿格式').item.json.exportDir }}/notes.txt",
        "dataPropertyName": "txtFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        416
      ],
      "id": "da7e0630-05bc-473b-be3e-788dffe41dde",
      "name": "保存讲稿TXT"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成文章格式').item.json.exportDir }}/article.json",
        "dataPropertyName": "jsonFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        240
      ],
      "id": "5246a1e9-92b9-4150-bef2-11e1629693c6",
      "name": "保存文章JSON"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成文章格式').item.json.exportDir }}/article.txt",
        "dataPropertyName": "txtFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ],
      "id": "a8c08408-8318-4980-abc3-40bd56091191",
      "name": "保存文章TXT"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成文章格式').item.json.exportDir }}/article.md",
        "dataPropertyName": "mdFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "39ea483a-a1c3-4e64-bcf8-b249b3a15cc1",
      "name": "保存文章MD"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成文章格式').item.json.exportDir }}/article.html",
        "dataPropertyName": "htmlFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        -160
      ],
      "id": "9d4b9f41-8e16-4a42-822a-c10087a8b462",
      "name": "保存文章HTML"
    },
    {
      "parameters": {
        "jsCode": "// 生成讲稿所有格式的导出数据\nconst contentType = $('解析参数').item.json.contentType;\nconst jobId = $('解析参数').item.json.jobId;\nconst timestamp = $('解析参数').item.json.timestamp;\nconst exportDir = $('解析参数').item.json.exportDir;\n\n// 从文件中读取最新的讲稿数据\nconst notesData = $('解析讲稿JSON').first().json.data;\nconst title = '视频讲稿';\n\n// 生成TXT内容\nlet textContent = `${title}\\n\\n`;\nnotesData.forEach((note, index) => {\n  textContent += `第${index + 1}页: ${note.note || ''}\\n\\n`;\n});\ntextContent += `---\\n导出时间: ${timestamp}\\n`;\ntextContent += `幻灯片数量: ${notesData.length}\\n`;\n\n// 生成JSON内容\nconst jsonContent = {\n  jobId: jobId,\n  title: title,\n  notes: notesData,\n  contentType: \"video_notes\",\n  exportedAt: timestamp,\n  slideCount: notesData.length,\n  exportFormats: [\"txt\", \"json\"]\n};\n\nreturn {\n  json: {\n    contentType: contentType,\n    jobId: jobId,\n    exportDir: exportDir,\n    timestamp: timestamp,\n    title: title\n  },\n  binary: {\n    'txtFile': {\n      data: Buffer.from(textContent, 'utf-8'),\n      fileName: 'notes.txt',\n      mimeType: 'text/plain'\n    },\n    'jsonFile': {\n      data: Buffer.from(JSON.stringify(jsonContent, null, 2), 'utf-8'),\n      fileName: 'notes.json',\n      mimeType: 'application/json'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        432
      ],
      "id": "3d3f7fab-a4eb-4d0a-9cec-d8a62a563137",
      "name": "生成讲稿格式"
    },
    {
      "parameters": {
        "jsCode": "// 生成文章所有格式的导出数据\nconst contentType = $('解析参数').item.json.contentType;\nconst jobId = $('解析参数').item.json.jobId;\nconst timestamp = $('解析参数').item.json.timestamp;\nconst exportDir = $('解析参数').item.json.exportDir;\n\n// 从文件中读取最新的文章数据\nconst articleData = $('解析文章JSON').first().json.data;\nconst title = articleData.source?.ppt_title || '未命名文章';\nconst content = articleData.article?.content || '';\n\n// 生成HTML内容\nconst htmlContent = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>${title}</title>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #333; }\n    .meta { color: #666; font-size: 14px; margin-bottom: 20px; }\n  </style>\n</head>\n<body>\n  <h1>${title}</h1>\n  <div class=\"meta\">\n    <p>导出时间: ${timestamp}</p>\n    <p>字数: ${content.split(/\\s+/).filter(word => word.length > 0).length}</p>\n  </div>\n  <div>${content.replace(/\\n/g, '<br>')}</div>\n</body>\n</html>`;\n\n// 生成Markdown内容\nconst markdownContent = `# ${title}\\n\\n${content}\\n\\n---\\n**导出时间:** ${timestamp}\\n**字数:** ${content.split(/\\s+/).filter(word => word.length > 0).length}`;\n\n// 生成TXT内容\nconst textContent = `${title}\\n\\n${content}\\n\\n---\\n导出时间: ${timestamp}\\n字数: ${content.split(/\\s+/).filter(word => word.length > 0).length}`;\n\n// 生成JSON内容\nconst jsonContent = {\n  jobId: jobId,\n  title: title,\n  content: content,\n  contentType: \"article\",\n  exportedAt: timestamp,\n  wordCount: content.split(/\\s+/).filter(word => word.length > 0).length,\n  exportFormats: [\"html\", \"md\", \"txt\", \"json\"]\n};\n\nreturn {\n  json: {\n    contentType: contentType,\n    jobId: jobId,\n    exportDir: exportDir,\n    timestamp: timestamp,\n    title: title\n  },\n  binary: {\n    'htmlFile': {\n      data: Buffer.from(htmlContent, 'utf-8'),\n      fileName: 'article.html',\n      mimeType: 'text/html'\n    },\n    'mdFile': {\n      data: Buffer.from(markdownContent, 'utf-8'),\n      fileName: 'article.md',\n      mimeType: 'text/markdown'\n    },\n    'txtFile': {\n      data: Buffer.from(textContent, 'utf-8'),\n      fileName: 'article.txt',\n      mimeType: 'text/plain'\n    },\n    'jsonFile': {\n      data: Buffer.from(JSON.stringify(jsonContent, null, 2), 'utf-8'),\n      fileName: 'article.json',\n      mimeType: 'application/json'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        32
      ],
      "id": "fe026c98-7e88-403d-8993-9645314ab714",
      "name": "生成文章格式"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-article",
              "leftValue": "={{ $('接收导出请求').item.json.body.contentType }}",
              "rightValue": "article",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1008,
        240
      ],
      "id": "08576eff-f4dc-4d85-8204-9433fecda52e",
      "name": "判断内容类型"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -608,
        432
      ],
      "id": "c4ee5358-1bcd-441b-902f-f32e1a69081c",
      "name": "解析讲稿JSON"
    },
    {
      "parameters": {
        "fileSelector": "=/home/n8n/AIStudio/jobs/{{ $('解析参数').item.json.jobId }}/notes.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -800,
        432
      ],
      "id": "cc8a0540-4e3f-4f80-9edc-db7285c174d2",
      "name": "读取讲稿用于导出"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -608,
        32
      ],
      "id": "7f2019cb-e426-4ca9-b398-45755fc98255",
      "name": "解析文章JSON"
    },
    {
      "parameters": {
        "fileSelector": "=/home/n8n/AIStudio/jobs/{{ $('解析参数').item.json.jobId }}/generated_article.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -800,
        32
      ],
      "id": "134148e7-5174-4c4a-8c07-0fa8f9258d0f",
      "name": "读取文章用于导出"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $('解析参数').item.json.exportDir }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1152,
        240
      ],
      "id": "b8d2544e-e474-4823-93ff-e014c5715f04",
      "name": "创建导出目录"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contentType",
              "name": "contentType",
              "value": "={{ $json.body.contentType || 'article' }}",
              "type": "string"
            },
            {
              "id": "jobId",
              "name": "jobId",
              "value": "={{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "content",
              "name": "content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "exportDir",
              "name": "exportDir",
              "value": "=/home/n8n/AIStudio/jobs/{{ $json.body.jobId }}/exports",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        240
      ],
      "id": "471b3b01-6aa6-4507-9e3f-f17409fe761c",
      "name": "解析参数"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/export-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        240
      ],
      "id": "fd09e0c4-d73d-4e0d-b194-990d37739a06",
      "name": "接收导出请求",
      "webhookId": "export-content-webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "生成导出响应": {
      "main": [
        [
          {
            "node": "返回导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存讲稿JSON": {
      "main": [
        [
          {
            "node": "生成导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存讲稿TXT": {
      "main": [
        [
          {
            "node": "生成导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存文章JSON": {
      "main": [
        [
          {
            "node": "生成导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存文章TXT": {
      "main": [
        [
          {
            "node": "生成导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存文章MD": {
      "main": [
        [
          {
            "node": "生成导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存文章HTML": {
      "main": [
        [
          {
            "node": "生成导出响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成讲稿格式": {
      "main": [
        [
          {
            "node": "保存讲稿JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存讲稿TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成文章格式": {
      "main": [
        [
          {
            "node": "保存文章JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存文章TXT",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存文章MD",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存文章HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断内容类型": {
      "main": [
        [
          {
            "node": "读取文章用于导出",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "读取讲稿用于导出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析讲稿JSON": {
      "main": [
        [
          {
            "node": "生成讲稿格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取讲稿用于导出": {
      "main": [
        [
          {
            "node": "解析讲稿JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析文章JSON": {
      "main": [
        [
          {
            "node": "生成文章格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取文章用于导出": {
      "main": [
        [
          {
            "node": "解析文章JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建导出目录": {
      "main": [
        [
          {
            "node": "判断内容类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析参数": {
      "main": [
        [
          {
            "node": "创建导出目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收导出请求": {
      "main": [
        [
          {
            "node": "解析参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7457b1f9-6735-4edc-944e-63d432088889",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "aqwWc2lGaGWe2RB6",
  "tags": []
}