AIStudio/n8n_workflows/GenerateVideo.json
{
  "name": "GenerateVideo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        -352
      ],
      "id": "240d70f8-0c71-49a8-aa75-e4d1cade12fc",
      "name": "Webhook",
      "webhookId": "generate-video-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mode",
              "name": "mode",
              "value": "={{ $json.body.mode || 'single' }}",
              "type": "string"
            },
            {
              "id": "jobId",
              "name": "jobId",
              "value": "={{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "jobDir",
              "name": "jobDir",
              "value": "=/home/n8n/AIStudio/jobs/{{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "slideId",
              "name": "slideId",
              "value": "={{ $json.body.slideId }}",
              "type": "string"
            },
            {
              "id": "outputFile",
              "name": "outputFile",
              "value": "={{ '/home/n8n/AIStudio/jobs/' + $json.body.jobId + '/video/slide_' + $json.body.slideId + '.mp4' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -352
      ],
      "id": "e2f7f560-01a3-42c5-93a2-f0f81738b622",
      "name": "设置变量"
    },
    {
      "parameters": {
        "command": "={{ $('设置变量').item.json.mode === 'single' ? '/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/create_video.py --mode single --work-dir ' + $('设置变量').item.json.jobDir + ' --slide-id ' + $('设置变量').item.json.slideId + ' --output-file ' + $('设置变量').item.json.outputFile : $('设置变量').item.json.mode === 'batch' ? '/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/create_video.py --mode batch --work-dir ' + $('设置变量').item.json.jobDir + ' --output-dir ' + $('设置变量').item.json.jobDir + '/video' : '/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/create_video.py --mode final --work-dir ' + $('设置变量').item.json.jobDir + ' --output-file ' + $('设置变量').item.json.jobDir + '/video/final_video.mp4' }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        960,
        -352
      ],
      "id": "6a807347-11ec-46f3-bc73-ed12a0ef610e",
      "name": "执行视频命令"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"视频生成完成\", \"videoPath\": {{ $('设置变量').item.json.mode === 'single' ? JSON.stringify($('设置变量').item.json.outputFile) : JSON.stringify($('设置变量').item.json.jobDir + '/video/final_video.mp4') }}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1168,
        -352
      ],
      "id": "f9a18ae3-3714-47bc-96a5-3df2ba4756db",
      "name": "返回成功响应"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "设置变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置变量": {
      "main": [
        [
          {
            "node": "执行视频命令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行视频命令": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8a5554f-6399-435c-9035-4c4e63affa96",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "OBVYW2o6eeD2HKfg",
  "tags": []
}