AIStudio/n8n_workflows/GenerateImages.json
{
  "name": "GenerateImages",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('构建统一响应').item.json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -736,
        304
      ],
      "id": "29953041-d853-479e-94bd-75e10834c9e5",
      "name": "响应结果"
    },
    {
      "parameters": {
        "jsCode": "// 构建统一的响应格式\nconst webhookData = $('Webhook').item.json;\nconst variables = $('设置变量').item.json;\nconst provider = webhookData.provider || 'comfyui';\n\n// 构建图片URL\nconst baseUrl = 'http://178.109.129.11:5678';\nconst imageUrl = `${baseUrl}/webhook/servefiles/api/slides-data/${variables.jobId}/generated_images/slide_${variables.slideId}.png`;\nconst timestamp = Date.now();\n\nconst response = {\n  success: true,\n  data: {\n    id: `${provider}_${timestamp}`,\n    slideId: parseInt(variables.slideId),\n    url: imageUrl,\n    thumbnailUrl: imageUrl, // 缩略图和原图使用相同URL\n    prompt: variables.prompt || '',\n    negativePrompt: variables.negativePrompt || '',\n    generationTime: 30, // ComfyUI大约需要30秒\n    provider: provider.toUpperCase(),\n    width: variables.width || 1024,\n    height: variables.height || 1024,\n    fileSize: 512000, // 估算大小\n    createdAt: new Date().toISOString()\n  }\n};\n\nreturn { json: response };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        304
      ],
      "id": "724cb10a-5bc7-48c9-af9e-129f3192a537",
      "name": "构建统一响应"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('设置变量').item.json.jobDir }}/generated_images/slide_{{ $('设置变量').item.json.slideId }}.png",
        "dataPropertyName": "nanoBananaImage",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1328,
        304
      ],
      "id": "ff0735bd-479d-43a2-96ad-4f282893d7b2",
      "name": "保存NanoBanana图片到文件"
    },
    {
      "parameters": {
        "jsCode": "// 解析Nano Banana响应JSON数据并转换为二进制\nconst jsonData = $('设置变量').item.json;\n\n// 直接从设置变量节点获取nanobananaResponseData\nconst nanobananaResponseData = jsonData.nanobananaResponseData;\n\ntry {\n  // 直接解析JSON字符串，避免使用fs模块\n  const response = JSON.parse(nanobananaResponseData);\n  \n  console.log('=== Nano Banana响应解析 ===');\n  console.log('响应状态:', response.candidates ? '有数据' : '无数据');\n  \n  if (response.candidates && response.candidates.length > 0) {\n    const candidate = response.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      const imagePart = candidate.content.parts.find(part => part.inlineData);\n      if (imagePart && imagePart.inlineData) {\n        // 将base64编码的图片数据转换为二进制Buffer\n        const base64Data = imagePart.inlineData.data;\n        const binaryData = Buffer.from(base64Data, 'base64');\n        \n        // 创建二进制对象，用于后续的readWriteFile节点\n        const imageBinaryData = {\n          data: binaryData,\n          fileName: `slide_${jsonData.slideId}.png`,\n          mimeType: imagePart.inlineData.mimeType || 'image/png'\n        };\n        \n        return {\n          json: {\n            success: true,\n            imageData: base64Data,\n            mimeType: imagePart.inlineData.mimeType\n          },\n          binary: {\n            'nanoBananaImage': imageBinaryData\n          }\n        };\n      }\n    }\n  }\n  \n  return {\n    json: {\n      success: false,\n      error: 'No image data found in response'\n    }\n  };\n} catch (error) {\n  console.error('解析响应数据失败:', error);\n  return {\n    json: {\n      success: false,\n      error: error.message\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        304
      ],
      "id": "e3d55b40-f50f-427c-a9d7-5fbc3388e7f6",
      "name": "解析NanoBanana响应"
    },
    {
      "parameters": {
        "command": "=echo \"开始下载ComfyUI图片\"\necho \"文件名: {{ $('解析历史响应').item.json.filename }}\"\necho \"输出路径: {{ $('设置变量').item.json.jobDir }}/generated_images/slide_{{ $('设置变量').item.json.slideId }}.png\"\ncurl -s \"http://178.109.129.11:8188/view?filename={{ $('解析历史响应').item.json.filename }}\" -o \"{{ $('设置变量').item.json.jobDir }}/generated_images/slide_{{ $('设置变量').item.json.slideId }}.png\"\necho \"下载完成\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -960,
        64
      ],
      "id": "1bdfe207-7774-4e4a-bf62-9d1f1efa5c35",
      "name": "下载ComfyUI图片"
    },
    {
      "parameters": {
        "jsCode": "// 解析ComfyUI历史记录并提取图片信息 - 增强错误处理\nconst historyResponse = $('轮询ComfyUI历史记录').item.json;\nconst comfyData = $('ComfyUI生成').item.json;\n\nconsole.log('=== ComfyUI历史记录分析 ===');\nconsole.log('历史响应类型:', typeof historyResponse);\nconsole.log('历史响应内容:', JSON.stringify(historyResponse, null, 2));\nconsole.log('查询的prompt_id:', comfyData.prompt_id);\n\nlet filename = null;\nlet status = 'unknown';\nlet completed = false;\nlet errorMessage = null;\n\n// 检查历史记录响应\nif (historyResponse === null || historyResponse === undefined) {\n  errorMessage = '历史记录响应为空';\n  console.log('❌ 历史记录响应为空');\n} else if (Array.isArray(historyResponse) && historyResponse.length === 0) {\n  errorMessage = '历史记录返回空数组';\n  console.log('❌ 历史记录返回空数组');\n} else if (typeof historyResponse === 'object' && historyResponse[comfyData.prompt_id]) {\n  // 正常情况：找到了对应的任务记录\n  const taskData = historyResponse[comfyData.prompt_id];\n  console.log('✅ 找到任务记录:', Object.keys(taskData));\n  \n  // 检查任务状态\n  if (taskData.status) {\n    status = taskData.status.status_str || 'unknown';\n    completed = taskData.status.completed || false;\n    console.log('任务状态:', status, '完成:', completed);\n  }\n  \n  // 提取图片文件名\n  if (taskData.outputs && taskData.outputs['9'] && taskData.outputs['9'].images) {\n    filename = taskData.outputs['9'].images[0].filename;\n    console.log('✅ 找到图片文件名:', filename);\n  } else {\n    console.log('❌ 未找到图片文件名，检查outputs结构:', JSON.stringify(taskData.outputs, null, 2));\n  }\n} else {\n  // 异常情况：无法找到任务记录\n  errorMessage = `无法找到prompt_id ${comfyData.prompt_id} 的历史记录`;\n  console.log('❌', errorMessage);\n  console.log('可用的prompt_id:', Object.keys(historyResponse || {}).slice(0, 5));\n}\n\n// 如果没有找到文件名，使用默认命名\nif (!filename) {\n  // 尝试使用常见的命名模式\n  const timestamp = Date.now();\n  const possibleNames = [\n    `z_image_turbo_00001_.png`,\n    `ComfyUI_00001_.png`,\n    `z_image_turbo_${timestamp % 10000}.png`\n  ];\n  filename = possibleNames[0]; // 使用第一个可能的名称\n  console.log('⚠️ 使用fallback文件名:', filename);\n  \n  // 设置为已完成状态（假设任务可能已经完成）\n  if (!errorMessage) {\n    status = 'completed_assumed';\n    completed = true;\n  }\n}\n\nconst finalStatus = errorMessage ? 'error' : status;\n\nreturn {\n  json: {\n    filename: filename,\n    status: finalStatus,\n    completed: completed,\n    prompt_id: comfyData.prompt_id,\n    variables: comfyData.variables,\n    error_message: errorMessage,\n    success: !errorMessage,\n    message: errorMessage ? `错误: ${errorMessage}` : `状态检查完成: ${status}, 图片: ${filename}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        64
      ],
      "id": "db041909-3e77-4cd4-b539-1e511740d618",
      "name": "解析历史响应"
    },
    {
      "parameters": {
        "url": "={{ 'http://178.109.129.11:8188/history/' + $('ComfyUI生成').item.json.prompt_id  }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1632,
        80
      ],
      "id": "26713ab2-703c-4c21-8a54-b4e5d34a88d6",
      "name": "轮询ComfyUI历史记录"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-image-data",
              "leftValue": "={{ Object.keys($('轮询ComfyUI历史记录').item.json).length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "d695fa69-9073-49a4-91aa-3a353dd8b896",
              "leftValue": "={{ $('轮询ComfyUI历史记录').item.json.keys().last() }}",
              "rightValue": "={{ $('ComfyUI生成').item.json.prompt_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1456,
        80
      ],
      "id": "ab0cb7a0-2de4-439f-ad3f-dcd109c3f027",
      "name": "检查是否完成"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1296,
        96
      ],
      "id": "58c83ef8-07ca-418a-aa97-1d331d22c97f",
      "name": "等待10秒",
      "webhookId": "7931bb86-8f23-4695-aeae-669a3a534d8d"
    },
    {
      "parameters": {
        "jsCode": "// 构建ComfyUI z_image_turbo工作流 - 使用前端生成的完整提示词\nconst variables = $('设置变量').item.json;\n\n// 根据生成数量设置batch_size\nconst batchSize = Math.min(Math.max(variables.generateCount || 1, 1), 4); // 限制在1-4之间\n\n// 使用前端生成的完整提示词，不再进行后端增强\nconst finalPrompt = variables.prompt || 'Professional PPT illustration';\n\nconst comfyUIWorkflow = {\n  \"3\": {\n    \"inputs\": {\n      \"seed\": Math.floor(Math.random() * 1000000000),\n      \"steps\": 9,\n      \"cfg\": 1.0,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\"16\", 0],\n      \"positive\": [\"6\", 0],\n      \"negative\": [\"7\", 0],\n      \"latent_image\": [\"13\", 0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": finalPrompt,\n      \"clip\": [\"18\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": variables.negativePrompt || 'low quality, blurry, distorted, ugly, bad anatomy',\n      \"clip\": [\"18\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\"3\", 0],\n      \"vae\": [\"17\", 0]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": `slide_${variables.slideId}`,\n      \"images\": [\"8\", 0]\n    },\n    \"class_type\": \"SaveImage\"\n  },\n  \"13\": {\n    \"inputs\": {\n      \"width\": variables.width || 1024,\n      \"height\": variables.height || 1024,\n      \"batch_size\": batchSize\n    },\n    \"class_type\": \"EmptySD3LatentImage\"\n  },\n  \"16\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_turbo_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\"\n  },\n  \"17\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"18\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\"\n  }\n};\n\nconsole.log('=== ComfyUI工作流构建 ===');\nconsole.log('使用前端生成的提示词:', finalPrompt);\nconsole.log('幻灯片ID:', variables.slideId);\nconsole.log('生成数量:', variables.generateCount);\nconsole.log('批次大小:', batchSize);\nconsole.log('图片尺寸:', `${variables.width || 1024}x${variables.height || 1024}`);\n\nreturn {\n  json: {\n    prompt: comfyUIWorkflow\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        80
      ],
      "id": "d7f0049b-e2c2-4e87-aee6-e80f94d71fcf",
      "name": "构建ComfyUI工作流"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-comfyui",
              "leftValue": "={{ $('设置变量').item.json.provider }}",
              "rightValue": "comfyui",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2176,
        192
      ],
      "id": "d0f92346-d775-432c-a343-d7f5c060581f",
      "name": "选择生成器"
    },
    {
      "parameters": {
        "command": "={{ 'mkdir -p \"' + $('设置变量').item.json.jobDir + '/generated_images\"' }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2336,
        192
      ],
      "id": "b5e14af5-07f1-4e4d-9e22-1f9f3b0c2dac",
      "name": "创建输出目录"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "jobId",
              "name": "jobId",
              "value": "={{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "jobDir",
              "name": "jobDir",
              "value": "=/home/n8n/AIStudio/jobs/{{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "slideId",
              "name": "slideId",
              "value": "={{ $json.body.slideId }}",
              "type": "string"
            },
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "negativePrompt",
              "name": "negativePrompt",
              "value": "={{ $json.body.negativePrompt || '低质量, 模糊, 失真, 扭曲, 变形, 水印, 签名, 文字, 标题' }}",
              "type": "string"
            },
            {
              "id": "width",
              "name": "width",
              "value": "={{ $json.body.width || 1024 }}",
              "type": "number"
            },
            {
              "id": "height",
              "name": "height",
              "value": "={{ $json.body.height || 1024 }}",
              "type": "number"
            },
            {
              "id": "provider",
              "name": "provider",
              "value": "={{ $json.body.provider || 'comfyui' }}",
              "type": "string"
            },
            {
              "id": "nanobananaApiKey",
              "name": "nanobananaApiKey",
              "value": "={{ $json.body.nanobananaApiKey }}",
              "type": "string"
            },
            {
              "id": "nanobananaResponseData",
              "name": "nanobananaResponseData",
              "value": "={{ $json.body.nanobananaResponseData }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        192
      ],
      "id": "6d7df79f-4fc8-4d71-8db1-8ebafbcdcd43",
      "name": "设置变量"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/generate-images",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2656,
        192
      ],
      "id": "100bc38b-d5c0-45be-b65d-901ea99d3528",
      "name": "Webhook",
      "webhookId": "c7bbb4b2-a95c-4bf8-bd3e-b25bd2ac1de6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.109.129.11:8188/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('构建ComfyUI工作流').item.json }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1808,
        80
      ],
      "id": "cb618bcb-f72e-4cee-b3be-f6003ea10634",
      "name": "ComfyUI生成"
    }
  ],
  "pinData": {},
  "connections": {
    "构建统一响应": {
      "main": [
        [
          {
            "node": "响应结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存NanoBanana图片到文件": {
      "main": [
        [
          {
            "node": "构建统一响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析NanoBanana响应": {
      "main": [
        [
          {
            "node": "保存NanoBanana图片到文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载ComfyUI图片": {
      "main": [
        [
          {
            "node": "构建统一响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析历史响应": {
      "main": [
        [
          {
            "node": "下载ComfyUI图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轮询ComfyUI历史记录": {
      "main": [
        [
          {
            "node": "检查是否完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查是否完成": {
      "main": [
        [
          {
            "node": "解析历史响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "等待10秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待10秒": {
      "main": [
        [
          {
            "node": "轮询ComfyUI历史记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建ComfyUI工作流": {
      "main": [
        [
          {
            "node": "ComfyUI生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "选择生成器": {
      "main": [
        [
          {
            "node": "构建ComfyUI工作流",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "解析NanoBanana响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建输出目录": {
      "main": [
        [
          {
            "node": "选择生成器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置变量": {
      "main": [
        [
          {
            "node": "创建输出目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "设置变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI生成": {
      "main": [
        [
          {
            "node": "轮询ComfyUI历史记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cf8494c-2f1e-44cf-a96d-49d92c89fbd3",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "HuRS7667HnKTGdRL",
  "tags": [
    {
      "updatedAt": "2025-12-15T06:19:55.701Z",
      "createdAt": "2025-12-15T06:19:55.701Z",
      "id": "5BKOstdM85Kqgdl4",
      "name": "Image Generation"
    },
    {
      "updatedAt": "2025-12-15T06:32:13.731Z",
      "createdAt": "2025-12-15T06:32:13.731Z",
      "id": "GitdrbsiFcB7e1tP",
      "name": "Image Generation Fixed"
    }
  ]
}