AIStudio/n8n_workflows/GenerateSingleAudio.json
{
  "name": "GenerateSingleAudio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/generate-single-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        208
      ],
      "id": "6bff674d-eb30-4bf3-bf71-61bf26899c02",
      "name": "Webhook",
      "webhookId": "generate-single-audio-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "jobDir",
              "name": "jobDir",
              "value": "=/home/n8n/AIStudio/jobs/{{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "slideId",
              "name": "slideId",
              "value": "={{ $json.body.slideId }}",
              "type": "string"
            },
            {
              "id": "noteText",
              "name": "noteText",
              "value": "={{ $json.body.noteText }}",
              "type": "string"
            },
            {
              "id": "audioOutputPath",
              "name": "audioOutputPath",
              "value": "={{ '/home/n8n/AIStudio/jobs/' + $json.body.jobId + '/audio/slide_' + $json.body.slideId + '.mp3' }}",
              "type": "string"
            },
            {
              "id": "modelType",
              "name": "modelType",
              "value": "={{ $json.body.modelType || 'minimax' }}",
              "type": "string"
            },
            {
              "id": "minimaxGroupId",
              "name": "minimaxGroupId",
              "value": "={{ $json.body.minimaxGroupId }}",
              "type": "string"
            },
            {
              "id": "minimaxAccessToken",
              "name": "minimaxAccessToken",
              "value": "={{ $json.body.minimaxAccessToken }}",
              "type": "string"
            },
            {
              "id": "minimaxVoiceId",
              "name": "minimaxVoiceId",
              "value": "={{ $json.body.minimaxVoiceId || 'Chinese (Mandarin)_News_Anchor' }}",
              "type": "string"
            },
            {
              "id": "speakerWav",
              "name": "speakerWav",
              "value": "={{ '/home/n8n/AIStudio/' + $json.body.speakerWav || '/home/n8n/AIStudio/default_speaker.wav' }}",
              "type": "string"
            },
            {
              "id": "qwenApiKey",
              "name": "qwenApiKey",
              "value": "={{ $json.body.qwenApiKey }}",
              "type": "string"
            },
            {
              "id": "qwenModel",
              "name": "qwenModel",
              "value": "={{ $json.body.qwenModel || 'qwen-tts' }}",
              "type": "string"
            },
            {
              "id": "qwenVoiceId",
              "name": "qwenVoiceId",
              "value": "={{ $json.body.qwenVoiceId || 'Chelsie' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        208
      ],
      "id": "0af7c69b-8550-496f-a928-0426fbaa4c9e",
      "name": "定义变量"
    },
    {
      "parameters": {
        "command": "={{ $('定义变量').item.json.modelType === 'qwen_tts' ? '/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/generate_audio.py --mode single --audio-dir /home/n8n/AIStudio/jobs/' + $json.body.jobId + '/audio --slide-id ' + $('定义变量').item.json.slideId + ' --note-text ' + JSON.stringify($('定义变量').item.json.noteText) + ' --service qwen --api-key ' + JSON.stringify($('定义变量').item.json.qwenApiKey) + ' --qwen-model ' + JSON.stringify($('定义变量').item.json.qwenModel) + ' --qwen-voice-id ' + JSON.stringify($('定义变量').item.json.qwenVoiceId) : $('定义变量').item.json.modelType === 'coqui_tts' ? '/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/generate_audio.py --mode single --audio-dir /home/n8n/AIStudio/jobs/' + $json.body.jobId + '/audio --slide-id ' + $('定义变量').item.json.slideId + ' --note-text ' + JSON.stringify($('定义变量').item.json.noteText) + ' --service coqui --speaker-wav ' + $('定义变量').item.json.speakerWav : '/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/generate_audio.py --mode single --audio-dir /home/n8n/AIStudio/jobs/' + $json.body.jobId + '/audio --slide-id ' + $('定义变量').item.json.slideId + ' --note-text ' + JSON.stringify($('定义变量').item.json.noteText) + ' --service minimax --group-id ' + JSON.stringify($('定义变量').item.json.minimaxGroupId) + ' --access-token ' + JSON.stringify($('定义变量').item.json.minimaxAccessToken) + ' --voice-id ' + JSON.stringify($('定义变量').item.json.minimaxVoiceId) }}\n\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        208
      ],
      "id": "2c1e644f-3cdf-463b-b516-f8d9ea966f9e",
      "name": "生成单个音频"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"单个音频生成成功\", \"slideId\": \"{{ $('定义变量').item.json.slideId }}\", \"audioPath\": \"{{ $('定义变量').item.json.audioOutputPath }}\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        208
      ],
      "id": "ec841d12-8efe-470b-b260-870e881a0f40",
      "name": "返回成功响应"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "定义变量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定义变量": {
      "main": [
        [
          {
            "node": "生成单个音频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成单个音频": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3505bdf-8f42-4543-a6fe-94a26653315d",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "ZwFZeKdoWhCmZ35T",
  "tags": []
}