AIStudio/n8n_workflows/GetArticleData.json
{
  "name": "GetArticleData",
  "nodes": [
    {
      "parameters": {
        "path": "api/get-article-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1248,
        -256
      ],
      "id": "7f5cd5eb-1c02-4baf-84a3-e5e5b20a5979",
      "name": "接收文章数据请求",
      "webhookId": "get-article-data-webhook"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1568,
        -256
      ],
      "id": "5cfc9743-ac5d-4c8b-bd17-57748bbf3711",
      "name": "转为json格式"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('转为json格式').first().json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1808,
        -256
      ],
      "id": "f661b18f-68b0-4c1c-a483-b95e35762fae",
      "name": "返回JSON数据"
    },
    {
      "parameters": {
        "fileSelector": "=/home/n8n/AIStudio/jobs/{{ $json.query.jobId }}/generated_article.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1408,
        -256
      ],
      "id": "3d0d9a4c-e19e-4ae8-83a6-6ff27bbbea09",
      "name": "读取文章数据"
    }
  ],
  "pinData": {},
  "connections": {
    "转为json格式": {
      "main": [
        [
          {
            "node": "返回JSON数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取文章数据": {
      "main": [
        [
          {
            "node": "转为json格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收文章数据请求": {
      "main": [
        [
          {
            "node": "读取文章数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9909f3a-1444-48c0-8957-3b58cad3273e",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "Ghf5ig7x9UhhYXKN",
  "tags": []
}