AIStudio/n8n_workflows/uploadPPT.json
{
  "name": "uploadPPT",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"jobId\": \"{{ $('设置任务变量和目录').item.json.jobId }}\",\n  \"processingType\": \"{{ $('设置任务变量和目录').item.json.processingType }}\",\n  \"message\": \"PPT上传和处理成功\",\n  \"redirectUrl\": \"http://178.118.101.128:5678/webhook/review?jobId={{ $('设置任务变量和目录').item.json.jobId }}&userEmail={{ $('设置任务变量和目录').item.json.userEmail }}&processingType={{ $('设置任务变量和目录').item.json.processingType }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        48
      ],
      "id": "d1130474-a8b2-4b99-a3e7-d9eaef765ab8",
      "name": "跳转到审核页面"
    },
    {
      "parameters": {
        "command": "=/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/combine_results.py --job-dir {{ $('生成PPT文件').item.json.jobDir }} --job-id {{ $('设置任务变量和目录').item.json.jobId }} --article-type \"{{ $('设置任务变量和目录').item.json.articleType }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        128
      ],
      "id": "22485aa8-0a4d-439a-84d6-256228edd527",
      "name": "合并文章结果"
    },
    {
      "parameters": {
        "command": "=/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/generate_article.py --content-file {{ $('生成PPT文件').item.json.jobDir }}/ppt_content.json --output-file {{ $('生成PPT文件').item.json.jobDir }}/generated_article.txt --custom-prompt \"{{ $('设置任务变量和目录').item.json.customPrompt }}\" --api-base-url {{ $('设置任务变量和目录').item.json.aiBaseUrl }} --model-name {{ $('设置任务变量和目录').item.json.aiModel }} --api-key {{ $('设置任务变量和目录').item.json.aiApiKey }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        512,
        128
      ],
      "id": "c9f0ffc2-4e53-47b9-941b-2a5f18e4203b",
      "name": "生成文章"
    },
    {
      "parameters": {
        "command": "=/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/extract_ppt_content.py --input-ppt {{ $('生成PPT文件').item.json.jobDir }}/input.pptx --output-json {{ $('生成PPT文件').item.json.jobDir }}/ppt_content.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        352,
        128
      ],
      "id": "98b983ea-2ec1-41c0-852d-5cda7df32bb6",
      "name": "提取PPT内容（文章模式）"
    },
    {
      "parameters": {
        "command": "=/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/convert_slides_to_images.py --input-ppt {{ $('生成PPT文件').item.json.jobDir }}/input.pptx --output-dir {{ $('生成PPT文件').item.json.jobDir }}/slides"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        512,
        -64
      ],
      "id": "0e089468-73ad-472d-9be5-f271640dcf8d",
      "name": "PPT转图片"
    },
    {
      "parameters": {
        "jsCode": "// 根据processingType设置输出文件名\nconst jsonData = $('设置任务变量和目录').item.json;\nconst pptData = $('生成PPT文件').item.json;\n\n// 确定输出文件名\nconst outputFileName = jsonData.processingType === 'image' ? 'image_data.json' : 'notes.json';\nconst outputFilePath = pptData.jobDir + '/' + outputFileName;\n\n// 返回合并后的数据，包含新的outputFile字段\nconst mergedData = {\n  ...jsonData,\n  ...pptData,\n  outputFile: outputFilePath\n};\n\nreturn [{\n  json: mergedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -128
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "设置输出文件名"
    },
    {
      "parameters": {
        "command": "=/home/n8n/AIStudio/venv/bin/python /home/n8n/AIStudio/scripts/generate_notes.py --input-ppt {{ $('设置输出文件名').item.json.jobDir }}/input.pptx --output-json {{ $('设置输出文件名').item.json.outputFile }} --type {{ $('设置输出文件名').item.json.processingType }} --api-base-url {{ $('设置输出文件名').item.json.aiBaseUrl }} --model-name {{ $('设置输出文件名').item.json.aiModel }} --api-key {{ $('设置输出文件名').item.json.aiApiKey }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        352,
        -64
      ],
      "id": "6d2bac7b-7955-4230-bbc1-0586b80e127e",
      "name": "生成内容（视频/图片模式）"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-video",
              "leftValue": "={{ $json.processingType }}",
              "rightValue": "=video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-image",
              "leftValue": "={{ $json.processingType }}",
              "rightValue": "=image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        128,
        -48
      ],
      "id": "a3745ef0-e497-493d-87dc-a09d70b6dd04",
      "name": "检查处理类型"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成PPT文件').item.json.jobDir }}/input.pptx",
        "dataPropertyName": "pptFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -32,
        -48
      ],
      "id": "59762cc9-b89f-431a-a371-f0b8eeb8aead",
      "name": "PPT文档存入缓存盘"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('生成PPT文件').item.json.jobDir }}/job_meta.json",
        "dataPropertyName": "metaFile",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -32,
        128
      ],
      "id": "55c7c1b8-c3cc-48cc-9fc8-e8d0b8d1f506",
      "name": "metaFile存入磁盘"
    },
    {
      "parameters": {
        "jsCode": "// --- 从上游节点获取所有需要的数据 ---\nconst jsonData = $('设置任务变量和目录').item.json;\nconst binaryFileObject = $('接收PPT文件').item.binary.pptFile0;\n\n// --- 1. 准备 job_meta.json 的内容 ---\nconst metaDataObject = {\n  processingType: jsonData.processingType,\n  articleType: jsonData.articleType,\n  customPrompt: jsonData.customPrompt,\n  userEmail: jsonData.userEmail,\n  originalFileName: binaryFileObject.fileName,\n  uploadTimestamp: new Date().toISOString(),\n  minimaxGroupId: jsonData.groupId,\n  minimaxAccessToken: jsonData.accessToken,\n  minimaxVoiceId: jsonData.voiceId,\n  aiProvider: jsonData.aiProvider,\n  aiModel: jsonData.aiModel,\n  aiApiKey: jsonData.aiApiKey,\n  aiBaseUrl: jsonData.aiBaseUrl\n};\n\n// --- 2. 将元数据JSON对象转换为二进制Buffer ---\nconst metaJsonString = JSON.stringify(metaDataObject, null, 2);\nconst metaBuffer = Buffer.from(metaJsonString, 'utf-8');\n\n// --- 3. 创建元数据的二进制对象 ---\nconst metaBinaryData = {\n  data: metaBuffer,\n  fileName: 'job_meta.json',\n  mimeType: 'application/json'\n};\n\n// --- 4. 构建最终的返回对象 ---\nconst newItems = [{\n  json: jsonData,\n  binary: {\n    'pptFile': binaryFileObject,\n    'metaFile': metaBinaryData\n  }\n}];\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -48
      ],
      "id": "e26974e9-05dc-45b1-92a2-e50888eb71b3",
      "name": "生成PPT文件"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $('设置任务变量和目录').item.json.jobDir }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "e0a2d6ea-7a4a-459e-82d0-2780e3d5b1eb",
      "name": "创建工作目录"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87cbdec7-79c8-4a4d-b5ac-73add14e8e6d",
              "name": "=jobId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "f4db87ab-a553-48fc-970a-e3ee4f328966",
              "name": "=jobDir",
              "value": "=/home/n8n/AIStudio/jobs/{{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "a0c4c9d5-a6c3-46fe-a230-98f96abcd057",
              "name": "userEmail",
              "value": "={{ $json.body.auditorEmail || '' }}",
              "type": "string"
            },
            {
              "id": "8eaf6da1-1ac3-4f09-b9cb-2b5dfc914df6",
              "name": "=accessToken",
              "value": "={{ $json.body.accessToken || '' }}",
              "type": "string"
            },
            {
              "id": "a1947a5f-e33b-4e94-aab8-d42745523d7e",
              "name": "voiceId",
              "value": "={{ $json.body.voiceId || 'Chinese (Mandarin)_News_Anchor' }}",
              "type": "string"
            },
            {
              "id": "84e5628f-6fd9-42ad-9dff-fd7ae8a5c1fc",
              "name": "groupId",
              "value": "={{ $json.body.groupId || '' }}",
              "type": "string"
            },
            {
              "id": "processingType",
              "name": "processingType",
              "value": "={{ $json.body.processingType || 'video' }}",
              "type": "string"
            },
            {
              "id": "articleType",
              "name": "articleType",
              "value": "={{ $json.body.articleType || '公众号' }}",
              "type": "string"
            },
            {
              "id": "customPrompt",
              "name": "customPrompt",
              "value": "={{ $json.body.customPrompt || '请根据PPT内容生成一篇适合公众号发布的文章' }}",
              "type": "string"
            },
            {
              "id": "aiProvider",
              "name": "aiProvider",
              "value": "={{ $json.body.aiProvider || '' }}",
              "type": "string"
            },
            {
              "id": "aiModel",
              "name": "aiModel",
              "value": "={{ $json.body.aiModel || '' }}",
              "type": "string"
            },
            {
              "id": "aiApiKey",
              "name": "aiApiKey",
              "value": "={{ $json.body.aiApiKey || '' }}",
              "type": "string"
            },
            {
              "id": "aiBaseUrl",
              "name": "aiBaseUrl",
              "value": "={{ $json.body.aiBaseUrl || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -48
      ],
      "id": "452b8afb-20b7-4b6b-8e84-9b332319ad60",
      "name": "设置任务变量和目录"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/upload-ppt",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "pptFile"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -48
      ],
      "id": "11393998-e633-48a0-bb2e-cd7f04505b24",
      "name": "接收PPT文件",
      "webhookId": "b4c3abbc-51cc-4aec-bbdf-a0294697656a"
    }
  ],
  "pinData": {},
  "connections": {
    "合并文章结果": {
      "main": [
        [
          {
            "node": "跳转到审核页面",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成文章": {
      "main": [
        [
          {
            "node": "合并文章结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取PPT内容（文章模式）": {
      "main": [
        [
          {
            "node": "生成文章",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPT转图片": {
      "main": [
        [
          {
            "node": "跳转到审核页面",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成内容（视频/图片模式）": {
      "main": [
        [
          {
            "node": "PPT转图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置输出文件名": {
      "main": [
        [
          {
            "node": "生成内容（视频/图片模式）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查处理类型": {
      "main": [
        [
          {
            "node": "设置输出文件名",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "提取PPT内容（文章模式）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPT文档存入缓存盘": {
      "main": [
        [
          {
            "node": "检查处理类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metaFile存入磁盘": {
      "main": [
        [
          {
            "node": "检查处理类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成PPT文件": {
      "main": [
        [
          {
            "node": "metaFile存入磁盘",
            "type": "main",
            "index": 0
          },
          {
            "node": "PPT文档存入缓存盘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建工作目录": {
      "main": [
        [
          {
            "node": "生成PPT文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置任务变量和目录": {
      "main": [
        [
          {
            "node": "创建工作目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收PPT文件": {
      "main": [
        [
          {
            "node": "设置任务变量和目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d5ce198-8f4e-43eb-ada7-42bf7332b09e",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "8QEFUOpUuKlzu2Zm",
  "tags": []
}