AIStudio/n8n_workflows/VideoDataManager.json
{
  "name": "VideoDataManager",
  "nodes": [
    {
      "parameters": {
        "path": "api/video-job-data",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2299fac0-90ee-40ca-a701-e69f5b741041",
      "name": "Webhook",
      "webhookId": "caa0ec30-f574-4047-876e-93f03ba6cf21"
    },
    {
      "parameters": {
        "fileSelector": "/home/n8n/AIStudio/jobs/{{ $input.first().json.query.jobId }}/notes.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "662b66d6-e9bb-4357-9f46-a2c9674b6c24",
      "name": "读取讲稿"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "866c02e9-ad74-428e-8bcc-84a0489a009c",
      "name": "转为json格式"
    },
    {
      "parameters": {
        "command": "ls /home/n8n/AIStudio/jobs/{{ $('Webhook').item.json.query.jobId }}/slides | sort -V"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "391d75fb-efb2-4534-80e2-99ac0aaf2094",
      "name": "获取图片名称并排序"
    },
    {
      "parameters": {
        "jsCode": "// 从 \"Read File\" 节点获取我们之前命名为 'notes' 的属性\nconst notesData = $('转为json格式').first().json.data;\n\n// 从 \"Execute Command\" 节点获取命令的输出 (stdout)\nconst stdout = $input.item.json.stdout;\n\n// 将命令输出的、由换行符分隔的字符串，转换成一个真正的数组\n// .filter(Boolean) 是一个小技巧，可以去除可能存在的空行\nconst slides = stdout.split('\\n').filter(Boolean);\n\n// 构建最终要返回给前端的JSON对象\nconst finalResponse = {\n  notes: notesData,\n  slides: slides\n};\n\n// 返回这个最终对象，它将成为整个工作流的输出\nreturn finalResponse;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "ddc6672d-9f70-463c-b44c-56d626472ac9",
      "name": "返回讲稿和图片"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "读取讲稿",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取讲稿": {
      "main": [
        [
          {
            "node": "转为json格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转为json格式": {
      "main": [
        [
          {
            "node": "获取图片名称并排序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取图片名称并排序": {
      "main": [
        [
          {
            "node": "返回讲稿和图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36ab001f-caf4-43bf-9c7c-11532e58aa5f",
  "meta": {
    "instanceId": "9c723152ae5c73f3daf04b813963449b95b961e12fce231294f9a96ef3926dd9"
  },
  "id": "8AcLhNIRVIAhfUud",
  "tags": []
}